@{
    ViewData["Title"] = "Contact";
}

<address>
    Lagos<br />
    Nigeria<br />
    princehb56@gmail.com<br />
    <abbr title="Phone">P:</abbr>
    +2348171288921
</address>
<div id="Contact">
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card bg-white">
                    <div class="card-header">
                        <h4 class="my-4">Make it official!</h4>
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Email Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Message......." class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <btn placeholder="Message......." class="btn btn-success text-white">Send!</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
